/* Theme
    * Use this theme file for client specific styles and variables.
 */

// 1. Colors
$primary-color: #000000;
$secondary-color: #ffffff;
$tertiary-color: #000000;
$bg-color: linear-gradient(#2f3847, #212b3a);

// 2. Fonts
$font-primary: cera-pro, sans-serif;

:root {
  --orange: #ff4f40;
  --indigo: #635dff;
  --white: #fff;
  --light-aluminium: #eaecee;
  --aluminium: #bdc4cf;
  --dark-aluminium: #2a2e35;
  --black: #000000;
  --yellow: #ebca40;
  --mandarine: #ff7f38;
  --pink: #ff44dd;
  --blue: #3885ff;
  --aqua: #3ec6eb;
  --emerald: #1bc99f;

  // gradients
  --gradient-base: linear-gradient(#2f3847, #212b3a);

  // 2. Fonts
  --font-primary: cerapro, sans-serif;
}