.user-widget {
  display: flex;
  align-items: center;
  align-self: stretch;
  position: relative;

  .user-details-container {
    color: #fff;
    display: flex;
    flex-direction: row;
    margin-right: auto;

    .user-menu-toggle {
      display: flex;
      align-items: center;
      margin: 0 23px 0 30px;
      cursor: pointer;

      .user-icon {
        $size: 16px;
        width: $size;
        height: $size;
        --color: #fff;
      }
    }

    .user-details {
      position: relative;
      top: -1px;

      .user-name {
        font-weight: 800;
        font-size: 16px;
      }

      .user-email {
        position: relative;
        top: -2px;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
  }

  .user-menu-container {
    position: absolute;
    $height: 60px;
    top: 50px;
    width: 400px;
    left: 0;
    pointer-events: none;

    .menu-item {
      padding: 8px 16px;
    }
  }
}
